<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
<style>
    body {
        background-image: url('https://image.yurich.me/anime/background/flowers.jpg');
        background-size: 100% 100%;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>